.control-unit {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  user-select: none;

  //background-image: linear-gradient(to right, rgb(102, 27, 210) 0%, rgb(37, 115, 232) 100%);
}